// Header
.offcanvas-left {
  background: rgba(255,255,255,.8);
  border-radius: 0 0 3px 3px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;

  // Offcanvas
  button {
    background-color: black;
    color: white;
    margin-left: 15px;
    margin-top: 5px;

    &:hover {
      background: #de6d6e;
    }
  }

  .sidebar-offcanvas {

    ul {
      float: right;
      list-style-type: none;
      margin-right: 0px;
      margin-top: 10px;
    }

    li {
      display: inline-block;
      margin-left: 40px;
    }

    a {
      color: rgba(69, 69, 69, 0.75);
      font-size: 16px;
      padding-left: 10px;
      padding-right: 10px;
      padding: 3px;
      text-decoration: none;

      &:hover {
        background: #de6d6e;
        border-radius: 3px;
        color: white;
      }
    }

    #login {
      background: #de6d6e;
      border-radius: 3px;
      color: white;
      text-decoration: none;

      img {
        margin-bottom: 5px;
        margin-right: 5px;
      }
    }
  }
}

.welcome {
  position: relative;

  &-text {
    bottom: 100px;
    position: absolute;
    width: 100%;
  }

  h1,
  p {
    color: white;
    text-align: center;
    text-shadow: 0 1px 1px black;
    text-transform: uppercase;
  }

  h1 {
    font: bold 48px serif;
  }

  p {
    font: bold 20px serif;
  }
}

.view-slide {

  .views-image {
    height: 834px;
    max-width: 100%;
  }

  img {
    height: auto;
    min-height: 100%;
    min-width: 100%;
    width: auto;
  }
}

// Responsive
@media screen and (max-width: 767px) {

  .offcanvas-right {
    right: 0;

    .sidebar-offcanvas {
      right: -50%;
    }

    &.active {
      right: 50%;
    }
  }

  .offcanvas-left {
    left: 0;

    .sidebar-offcanvas.active {
      left: 0;
    }

    .sidebar-offcanvas {
      left: -100%;
    }

    &.active {
      left: 50%;
    }
  }
}
